body{
        background-color: #eaf3da;
        margin-left: 20%;
        margin-right: 20%;
        border: 2px dotted black;
        padding: 10px 10px 10px 10px;
	text-align:center;
        font-family: sans-serif;
}